body {
  --board-height: calc(100vh - 7em);
  --header-height: 4em;
  --list-panel-width: 16em;
  min-width: 1200px;
}

@font-face {
  font-family: VeryBerryPro;
  src: url(./font/VeryBerryPro-Regular.otf);
}

page {
  display: grid;
  grid-template-rows: var(--header-height) var(--board-height) 3em;
  grid-gap: 0;
}

.page-header {
  background-color: darkslategray;
  color: white;
  height: var(--header-height);
}

header {
  display: grid;
  grid-template-columns: 90% 10%;
  line-height: 4em;
  margin: 0 auto;
  max-width: 760px;
}

.page-header h1 {
  margin: 0;
  text-align: center;
}

.page-header h1 span {
  color: lightblue;
}

.counter {
  color: lightblue;
  font-size: 1.5em;
  line-height: 3em;
}

.btn {
  background: rgba(173, 216, 230, 0.226);
  border: 1px solid rgba(173, 216, 230, 0.548);
  border-radius: 4px;
  cursor: pointer;
  height: 1em;
  padding: 0.6em;
  margin: 0.5em;
  font-size: 90%;
}

.btn.active {
  border-color: rgba(173, 230, 181, 0.548);
  background-color: rgba(173, 230, 176, 0.226);
}

.btn:hover {
  color: lightblue;
  background: transparent;
}

.container {
  height: calc(100vh - 7em);
  display: grid;
  grid-template-columns: calc(100% - var(--list-panel-width)) var(--list-panel-width);
}

.game-board {
  margin: 1em auto;
}

.list-pnl {
  background: #333;
  color: white;
}

.list-pnl.right {
  width: var(--list-panel-width);
}

.level-list {
  background-color: #444;
  height: calc(100vh - 7em);
  overflow-y: auto;
}

.list-pnl p {
  color: rgba(173, 230, 181, 0.945);
  font-size: 90%;
  margin: 0.5em;
  padding: 0.5em;
}

footer {
  background-color: #444;
  height: 3em;
  text-align: center;
  line-height: 3em;
}

footer a {
  color: white;
}

.modal-win {
  align-items: center;
  background: #43444462;
  border: none;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: absolute;
  top: var(--header-height);
  width: calc(100% - var(--list-panel-width));
}

.modal-win h1 {
  color: white;
  font-family: VeryBerryPro;
  font-size: 3em;

}

.modal {
  align-items: center;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
}

.animation {
  color: rgba(255, 255, 255, 0.3);
  font-size: 25em;
  font-weight: bold;
  z-index: 5;
  animation: ani 0.8s forwards;
}

@keyframes ani {
  30% {
    opacity: 1
  }
  50% {
    opacity: 0.5
  }
  100% {
    opacity: 0
  }
}
